html, body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

.body-wrapper {
  padding: 0px;
  margin: 0px
}

.navbar {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.log-out {
  cursor: pointer;
  margin-left: 5px;
  color: #007aff;
  font-weight: bold;
}

.new-income-button a {
    margin-right: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #007aff;
    text-decoration: none;
}

.left-bar {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 25vw;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    border-right: 1px solid lightgray;
}

.month-button {
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.right-bar {
    position: fixed;
    top: 50px;
    left: 25vw;
    width: 75vw;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.right-bar-container {
    margin-left:5px;
    margin-right: 5px;
}

.day-box h2 {
    width: auto;
    display: inline-block;
}

.income-total {
    display: inline-block;
}

.day-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.income-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.income-wrapper a,span {
    width: auto;
    display: inline-block;
    text-align: right;
    margin: 0px;
}

.income-price-wrapper {
    flex-grow: 1;
}

.income-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.income-price {
    margin: 0px;
    border-radius: 5px;
}

.notice {
    margin-top: 0px;
    position: fixed;
    top: 50px;
    z-index: 9998;
    width: 100vw;
    background-color: #d9edf7;
    color: #31708f;
    border: 1 px solid #bce8f1;
    text-align: center;
}

.alert {
    margin-top: 0px;
    position: fixed;
    top: 50px;
    z-index: 9998;
    width: 100vw;
    background-color: #f2dede;
    color: #a94442;
    border: 1 px solid #ebccd1;
    text-align: center;
}

.close {
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report {
    width: 100vw;
}

.report-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-graph-wrapper {
    width: 75vw;
    height: 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.report-graph-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.income {
    height: 30px;
    display:block;
    border: 0px;
}

.report-body {
    height: calc(100vh - 50px);
    width: 100vw;
    position: fixed;
    top: 50px;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
